.cabecalho {
    width: 100%;
    float: left;
    /* padding: 50px 8%; */
    background-color: #ffffff;
}

.logo a {
    width: 80px;
    height: 80px;
    float: left;
    background: url(../img/logo.webp) no-repeat;
    background-size: contain;
    font-size: 0;
}

.cabecalho form {
    width: 30%;
    float: right;
}

.cabecalho input[type="text"] {
    width: 85%;
    float: left;
    padding: 5px 3px;
    border-radius: 0 3px 3px 0;
}

.cabecalho button {
    width: 12%;
    float: right;
    padding: 5px 3px;
    background-color: #ffffff;
    color: black;
    cursor: pointer;
    border-radius: 0 3px 3px 0;
}

.menu {
    width: 100%;
    float: left;
    background-color: gray;
    /* padding: 18px 8%; */
}

.menu li {
    float: left;
}

.menu a {
    font-size: 120%;
    color: #ffffff;
    margin-right: 25px;
}